.add_class {
    position: relative;
    z-index: -1;
}

.style_expline_data .ql-toolbar {
    background-color: #172930;
    border: 1px solid #172930;
}
.word_taken_user{

}

.style_expline_data .ql-container {
    background-color: transparent;
    height: 400px;
    border: 1px solid #172930;
    color: rgb(235, 231, 231);
    /* font-size: 1.2rem; */
}

.ql-editor {
    background-color: transparent;
    height: 400px;
    border: 1px solid #172930;
    color: rgb(235, 231, 231);
    font-size: 1.2rem;
}


.style_expline_data .ql-container .ql-editor::-webkit-scrollbar {
    display: none !important;
}



.ql-editor.ql-blank::before {
    color: #838181;
    /* Change this to your desired placeholder color */
    font-style: normal;
    /* Optional: make the placeholder text italic */
}

.ql-toolbar .ql-stroke {
    stroke: rgb(162, 203, 239);
    /* Change this to your desired icon color */
}

.ql-toolbar .ql-fill {
    fill: rgb(162, 203, 239);
    /* Change this to your desired icon fill color */
}

/* Customizing dropdown labels and items color */
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
    color: rgb(162, 203, 239);
    /* Change this to your desired dropdown label and item color */
}

.week {
    font-size: 1rem;
    color: rgba(0, 255, 255, 0.843);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}

.addWordData {
    margin-top: 20px;
}

ul li {
    margin-bottom: 20px;
}

.add-word_user_input_sec {
    overflow-y: scroll;
    height: 400px;
}

.add-word_user_input_sec::-webkit-scrollbar {
    width: 5px;
}

.date {
    margin: 7px 0;
    color: rgb(189, 186, 186);
}
.for_learning_des{
    resize: none;
    max-height: 200px;
    width: 100%;
}

.addWordData .title {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 222, 224);
    font-weight: 600;
    line-height: 27px;
}

.addWordData .dis {
    padding: 10px 0;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 217, 214);
}

.each_add_word_user_input {
    margin: 10px 0;
}

.word_taken_user {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    border: none;
    background-color: #172930;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(218, 222, 224);
}

.addWordBtn {
    /* width: 20%; */
    padding: 10px 20px;
    background-color: #172930;
    border: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    cursor: pointer;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 10px;
}

.addWordBtn:hover {
    background-color: #0e1c21;
}