
.hanzi_char_input{
    width: 100%;
    padding: 15px 10px;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: white;
    border-bottom: 1px solid #1e1733;
}

.show_animation_hanzi_box{
    margin-top: 50px;
}
.hanzi_animation_text{
    text-align: center;
    font-size: 10rem;
    /* color: white; */
}
.repeted_animation_btn_sec{
    text-align: center;
}
.reply_animation_hanzi{
    padding: 10px;
    background:#205064;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: 2px;
    color: white;
    border: none;
}
.reply_animation_hanzi:hover{
    cursor: pointer;
    background-color: #1c4252;
}

.previous_next_btn_sec{
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hanzi_change_icon{
    font-size: 1.2rem;
    color: rgb(184, 182, 182);
    cursor: pointer;
}
.hanzi_change_icon:hover{
    color: white;
}

.hanzi_text_controller{
    margin-top: 10px;
}

.repeted_animation_btn_sec{
    margin-top: 20px;
}
.count_char{
    font-family: sans-serif;
    color: rgb(158, 155, 155);
    font-size:1.1rem;
}
